<?xml version="1.0"?>

<launch>
    <arg name="sim"                     default="true"/>
    <arg name="object_datasets_folder"  default="/home/vm/object_datasets"/>
    <arg name="object_point_cloud_path" default="/home/vm/object.pcd"/>
    <arg name="scene_point_cloud_path"  default="/home/vm/test_cloud.pcd"/>   
    <arg name="launch_conda"            default="true"/>
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    
    <!-- Publish the paths of scene and object point cloud-->
    <node name="point_cloud_save_publisher_node" pkg="grasp_pipeline" type="publish_point_cloud_save_path.py" output="screen">
        <param name="object_point_cloud_path" value="$(arg object_point_cloud_path)" type="string" />
        <param name="scene_point_cloud_path" value="$(arg scene_point_cloud_path)" type="string" />
    </node>

    <!-- Manage moveit scene -->
    <node name="manage_moveit_scene_node" pkg="grasp_pipeline"
        type="manage_moveit_scene_server.py" output="screen">
        <param name="sim" type="bool" value="$(arg sim)"/>
    </node>

   <!-- Grasp preshape /-->
    <node name="generate_hithand_preshape_server_node" pkg="grasp_pipeline" 
        type="generate_hithand_preshape_server.py" output="screen">
      <param name="palm_dist_to_top_face_mean"   value="0.1"   type="double"/>
      <param name="palm_dist_to_side_face_mean"  value="0.07"  type="double"/>
      <param name="palm_dist_normal_to_obj_var"  value="0.03"  type="double"/>
      <param name="palm_position_3D_sample_var"  value="0.005" type="double"/>
      <param name="wrist_roll_orientation_var"   value="0.005" type="double"/>
      <param name="hand_roll_angle_sample_var"   value="0.005" type="double"/>
      <param name="min_object_height"            value="0.03"  type="double"/>
    </node>

    <!-- Moveit planner node for panda arm -->
    <!--<node name="arm_moveit_planner_server_node" pkg="grasp_pipeline" type="arm_moveit_planner_server.py" output="screen"/> -->

    <!-- Save visual data node -->
    <node name="save_visual_data_node" pkg="grasp_pipeline" type="save_visual_data_server.py" output="screen"/>


    <group if="$(arg sim)">
        <!-- Gazebo scene manager -->
        <node name="manage_gazebo_scene_node" pkg="grasp_pipeline" type="manage_gazebo_scene_server.py" output="screen">
            <param name="object_datasets_folder" value="$(arg object_datasets_folder)"/>
        </node>
        <!-- Hithand control manager -->
        <node name="control_hithand_config_node" pkg="grasp_pipeline" type="control_sim_hithand_server.py" output="screen"/>
        <!-- Camera transformation broadcaster -->
        <node name="camera_transform_broadcaster_node" pkg="grasp_pipeline" type="camera_transform_broadcaster.py" output="screen"/>

    </group>

    <group if="$(arg launch_conda)">
	  <node name="table_object_segmentation_node" pkg="grasp_pipeline" type="table_object_segmenter_conda.sh" output="screen"/>
    </group>
   
</launch>
