<?xml version="1.0"?>

<launch>
    <arg name="sim"                    default="true"/>
    <arg name="object_datasets_folder" default="/home/vm/object_datasets"/>
    <arg name="launch_conda"           default="false" />
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- Manage moveit scene -->
    <node name="manage_moveit_scene_node" pkg="grasp_pipeline"
        type="manage_moveit_scene_server.py" output="screen">
        <param name="sim" value="$(arg sim)"/>
    </node>

    <!-- Moveit planner node for panda arm -->
    <!--<node name="arm_moveit_planner_server_node" pkg="grasp_pipeline" type="arm_moveit_planner_server.py" output="screen"/> -->

    <!-- Save visual data node -->
    <node name="save_visual_data_node" pkg="grasp_pipeline" type="save_visual_data_server.py" output="screen"/>


    <group if="$(arg sim)">
        <!-- Gazebo scene manager -->
        <node name="manage_gazebo_scene_node" pkg="grasp_pipeline" type="manage_gazebo_scene_server.py" output="screen">
            <param name="object_datasets_folder" value="$(arg object_datasets_folder)"/>
        </node>
        <!-- Hithand control manager -->
        <node name="control_hithand_config_node" pkg="grasp_pipeline" type="control_sim_hithand_server.py" output="screen"/>
        <!-- Camera transformation broadcaster -->
        <node name="camera_transform_broadcaster_node" pkg="grasp_pipeline" type="camera_transform_broadcaster.py" output="screen"/>

    </group>

    <group if="$(arg launch_conda)">
	  <node name="table_object_segmentation_node" pkg="grasp_pipeline" type="table_object_segmenter_conda.sh" output="screen"/>
    </group>
   
</launch>
